DEBUG=true
FUEL_CSV_PATH=./data/fuel-prices-for-be-assessment.csv
STATIC_MAP_OUTDIR=./media
NOMINATIM_USER_AGENT=route-fuel-api/1.0 (your_email@example.com)
OSRM_BASE_URL=https://router.project-osrm.org
GEOCODE_RATE_PER_SEC=1